body
  background-color: green
  font-family: arial

#main
  background-color: #fff
  margin: 0 auto
  padding: 20px
  width: 600px

pre.highlight
  line-height: 1.5em
  overflow-x: auto
  table
    .gutter
      vertical-align: top
    td
      padding: 10px
